.easy-reader {
    &__wrapper {
        padding-top: 3em;
    }

    &__global-heading {
        font-weight: 600;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }

    &__nav-container {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__nav {
        font-size: .95em;
        letter-spacing: .5px;
        position: relative;
        text-transform: uppercase;
        transition:all 0.3s ease;

        &:hover {
            cursor: pointer;
        }

        &.active {
            font-weight: 600;
            transform: scale(1.1);

            &::after {
                transform: translate(-50%, -148%);
            }
        }

        &::after {
            border-bottom: 10px solid #f1f1f1;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: calc(110% + 3em);
            transition:all 0.3s ease;
            width: 0;
        }
    }

    &__post-wrapper {
        background-color: #f1f1f1;
        padding: 0 1.5em;
    }

    &__post-container {
        margin: 3em auto 0;
        max-width: 1020px;
        padding: 1em 0;
    }

    &__end-text {
        font-size: .8em;
        text-align: center;
    }

    &__scroll-top-container {
        bottom: 50px;
        display: none;
        position: fixed;
        right: 50px;

        &.active {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__scroll-top {
        width: 35px;
    }
}
