.post {
    &__wrapper {
        padding: 1em 0;
    }

    &__title {
        font-size: .85em;
    }

    &__subreddit {
        color: #8493a3;
        padding-left: 10px;
        font-size: .6em;
        text-decoration: none;
    }
}
