.techcrunch {
    &__post {
        display: inline-block;
        margin: 1.5em 0;
        flex-basis: 33%;
    }

    &__post-wrapper {
        border: 1px solid #000000;
        display: block;
        margin: .5em;
    }

    &__post-image {
        background-position: center;
        background-size: cover;
        height: 240px;
    }

    &__post-content {
        margin: 1em;
    }

    &__post-title {
        font-size: .85em;
        margin: 0;
    }

    &__post-categories {
        margin: .25em 0;
    }

    &__post-category + &__post-category {
        margin-left: .5em;
    }

    &__post-category {
        background-color: #cccccc;
        display: inline-block;
        font-size: .6em;
        padding: .25em 1em;
    }

    &__post-date,
    &__post-author {
        font-size: .7em;
    }

    &__post-author {
        padding-left: 1em;
    }
}

@media only screen and (max-width: 767px) {
    .techcrunch {
        &__post {
            flex-basis: 100%;
        }
    }
}
